%footer.footer{"data-background-color" => "black"}
  .container
    %nav.float-left
      %ul
        %li
          %a{href: "#about"}
            About me
    .copyright.float-right
      ©
      = Date.today.year
      , Daniel's Online English
